.c-sim-parts__diag--cagr {
  padding: 0 34px 0 20px;
  box-sizing: border-box;
}

.fluid-container {
  width: 222px;
  height: 50vh;

  padding: 10px;
  border: 1px solid #000;
  float: left;
}

.highcharts-navigator-outline {
  display: none;
}
.highcharts-navigator-handle-left {
  position: relative;
}
.highcharts-navigator-handle-left:after {
  content: '',
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background-color: #f00;
}

.chart-container-line {
  margin-top: 20px;
  margin-left: 20px;
  height: 50%;
  width: 90%;
}

.chart-container {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 2px;
}
.chart-container .axis {
    display: block;
    padding-right: 8px;
    max-width: 82px;
    width: 13%;
    height: 100%;
}
.chart-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-container-divider {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

}
.chart-container-divider img{
  align-items: center;
}
.chart-container-divider .axis {
    display: block;
    padding: 0;
    min-width: 82px;
    width: 82px;
    height: 100%;
    margin-right: 15px;
}
.chart-container-divider .axis .bottomAxis {
  bottom: 10px;
}

.chart-container-divider > div {
  display: flex;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
}

.chart-container-wide {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.chart-container-wide img{
  align-items: center;
}
.chart-container-wide .axis {
    display: block;
    padding: 0;
    padding-left: 5px;
    min-width: 105px;
    width: 105px;
    height: 100%;
    margin-right: 10px;
}
.chart-container-wide > div {
  display: flex;
  padding: 0 20px 0 0;
  justify-content: center;
  align-items: center;
}

.chart-container-group {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.chart-container-group .axis {
    display: block;
    min-width: 82px;
    width: 82px;
    height: 100%;
}

.chart-container-group > div{
  max-width: 222px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2px;
}
.chart-container-group > div:first-child {

}
.chart-container-group > div:last-child {
  margin-right: 3.4%;
}


.axis {
  position: relative;
  text-align: right;
  font-family: 'open_sansbold';
  font-size: 12.5px;
  color: #626970;
}
.axis .opacity {
  opacity: 0.5;
  font-size: 10.5px;
}
.axis .topAxis {
  width: 100%;
  position: absolute;
  top: 20px;
}
.axis .bottomAxis {
  width: 100%;
  position: absolute;
  bottom: 0;
}



/* -------------------Waterfall----------------------- */
.waterfall .highcharts-text-outline {
  display: none;
}
.waterfall .labels {
  text-align: center;
  font-size: 11px;
  font-family: 'open_sanssemibold';
  color: #2e3438;
  height: 65px;
}
.waterfall .labels.slim {
  height: 30px;
  max-width: 60px;
  overflow-wrap: break-word;


}
.waterfall .labels.outside{
  color: #44b3c2;
  font-family: 'open_sansbold';
  font-size: 12px;
}
.waterfall .labels .growing {
  position: absolute;
  bottom: 4px;
  left: 50%;
  width: 50px;
  z-index: -1;
  padding: 5px 0;
  font-size: 12px;
  font-family: 'open_sansbold';
  background-color: #ecf0f7;
  border-radius: 3px;
}
.waterfall .labels .growing .plusSymbol{
  font-family: sans-serif;
  font-weight: 600;
}

.waterfall .labels .growing.plus {
  background-color: #e6f6f0;
  color: #55c398;
}
.waterfall .labels .growing.minus {
  background-color: #fdf2e5;
  color: #f1a94e;
}
.waterfall .highcharts-series {
  padding: 0 40px;
}
.waterfall .highcharts-tick {
  stroke-dasharray: 2;
}
.waterfall .highcharts-tick:nth-last-child(3), .highcharts-tick:nth-last-child(2){
  opacity: 0;
}

/* ------------------Gistogram------------------- */
.gistogram .highcharts-graph {
  stroke-width: 0;
}
.gistogram .highcharts-markers {
  visibility: hidden;
}
.gistogram .labels {
  position: relative;
  text-align: center;
  font-size: 12px;
  font-family: 'open_sansbold';
  top: -6px;
}

.gistogram .labels .growing {
  width: 50px;
  position: absolute;
  bottom: -38px;
  padding: 5px 0;
  font-size: 12px;
  font-family: 'open_sansbold';
  border-radius: 3px;
}
.gistogram .labels .growing .plusSymbol{
  font-family: sans-serif;
  font-weight: 600;
}
.gistogram .labels .growing.plus {
  background-color: #e6f6f0;
  color: #55c398;
}
.gistogram .labels .growing.minus {
  background-color: #fdf2e5;
  color: #f1a94e;
}

.gistogram .highcharts-tick {
  stroke-dasharray: 2;
}
.gistogram .highcharts-tick:nth-last-child(3), .highcharts-tick:nth-last-child(2){
  opacity: 0;
}
.gistogram .highcharts-text-outline {
  display: none;
}

/* ------------------------------------------------- */
.gistogram-growthrate .highcharts-markers {
  visibility: hidden;
}
.gistogram-growthrate .highcharts-text-outline {
  display: none;
}

.gistogram-growthrate .highcharts-graph {
  stroke-width: 0;
}
.gistogram-growthrate .labels {
  position: relative;
  text-align: center;
  font-size: 12px;
  font-family: 'open_sansbold';
  top: 10px;
}

.gistogram-growthrate .labels .growing {
  position: absolute;
  bottom: 14px;
  font-size: 12px;
  font-family: 'open_sansbold';
  z-index: -1;
  padding: 5px 0;
  width: 50px;
  background-color: #ecf0f7;
  border-radius: 3px;
}
.gistogram-growthrate .labels .growing .plusSymbol{
  font-family: sans-serif;
  font-weight: 600;
}

.gistogram-growthrate .labels .growing.plus {
  background-color: #e6f6f0;
  color: #55c398;
}
.gistogram-growthrate .labels .growing.minus {
  background-color: #fdf2e5;
  color: #f1a94e;
}

.gistogram-growthrate .highcharts-tick {
  stroke-dasharray: 2;
}

/*  ------------------Gistogram Arrows-------------- */
.gistogram-growthrate .arrow, .gistogram-divider-growthrate .arrow {
  position: relative;
}
.gistogram-growthrate .arrow .label, .gistogram-divider-growthrate .arrow .label{
  position: absolute;
  left: -14px;
  font-weight: 600;
}
.gistogram-growthrate .top.arrow .label, .gistogram-divider-growthrate .top.arrow .label{
  top: -26px;
  color: #55c398;
}
.gistogram-growthrate .bottom.arrow .label, .gistogram-divider-growthrate .bottom.arrow .label{
  top: 10px;
  color: #e45641;
}
.gistogram-growthrate .arrow .after, .gistogram-divider-growthrate .arrow .after {
  position: absolute;
  left: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #fff;
  border-top: 12px solid #fff;
}
.gistogram-growthrate .top.arrow .after, .gistogram-divider-growthrate .top.arrow .after {
  bottom: -20px;
  transform: rotate(-45deg);
}
.gistogram-growthrate .bottom.arrow .after, .gistogram-divider-growthrate .bottom.arrow .after {
  top: -20px;
  transform: rotate(135deg);
}

/* --------------------Gistogram-divider------------------------- */
.gistogram-divider .highcharts-text-outline {
  display: none;
}
.gistogram-divider .labels {
  text-align: center;
  font-size: 12px;
  font-family: 'open_sansbold';
  position: relative;
  top: -7px;
}
.gistogram-divider .labels .growing {
  position: absolute;
  z-index: -1;
  bottom: -40px;
  padding: 5px 0;
  width: 50px;
  font-size: 12px;
  font-family: 'open_sansbold';
  background-color: #ecf0f7;
  border-radius: 3px;
}
.gistogram-divider .labels .growing .plusSymbol{
  font-family: sans-serif;
  font-weight: 600;
}
.gistogram-divider .labels .growing.plus {
  background-color: #e6f6f0;
  color: #55c398;
}
.gistogram-divider .labels .growing.minus {
  background-color: #fdf2e5;
  color: #f1a94e;
}

.gistogram-divider .highcharts-tick {
  stroke-dasharray: 2;
}

.gistogram-divider .highcharts-tick:nth-last-child(3), .highcharts-tick:nth-last-child(2){
  opacity: 0;
}
.highcharts-container {
  overflow: visible;
}
.gistogram-divider {
  overflow: visible !important;
}


/* ----------------gistogram-divider-growthrate--------------- */
.gistogram-divider-growthrate {
  overflow: visible !important;
}

.gistogram-divider-growthrate .labels {
  position: relative;
  text-align: center;
  font-size: 12px;
  font-family: 'open_sansbold';
  top: 5px;
}

/* ----------------divider-border-labels------------- */
.gistogram-divider .border-label, .gistogram-divider-growthrate .border-label {
  width: 65px;
  border-radius: 5px 5px 0 0;
  padding: 4px 0;
  position: absolute;
  font-family: 'open_sansregular';
  font-size: 11px;
  text-align: center;
  top: 40px;
  color: #888e95;
}
.gistogram-divider .border-label.left, .gistogram-divider-growthrate .border-label.left  {
  left: -42px;
  transform: rotate(-90deg);
  background-color: #cfd5de;
}
.gistogram-divider .border-label.right, .gistogram-divider-growthrate .border-label.right {
  right: -42px;
  transform: rotate(90deg);
  background-color: #f9ddb8;
}

/* ------------------------------------------------- */
.c-changer__item a {
  display: block;
  width: 100%;
  height: 100%;
}
.c-graph-tabs {
  background-color: #fff;
  border-radius: 4px;
}
.c-graph-tabs__item {
  display: none;
}
.c-graph-tabs__item.c-graph-tabs__item--active {
  display: flex;
}